{
	email {{EMAIL}}
	acme_ca https://acme-v02.api.letsencrypt.org/directory
}

{{DOMAIN}} {
	encode zstd gzip

	header {
		Content-Security-Policy "frame-ancestors 'none'"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
	}

	@xhttp path {{XHTTP_PATH}}*
	handle @xhttp {
		uri replace {{XHTTP_PATH}} /_rw_xhttp_internal
		reverse_proxy unix//dev/shm/remnawave-xhttp.socket
	}

	reverse_proxy 127.0.0.1:8088
}
