{
	email {{EMAIL}}
	auto_https off
}

http://127.0.0.1:9443 {
	bind 127.0.0.1
	encode zstd gzip

	header {
		Content-Security-Policy "frame-ancestors 'none'"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
	}

	reverse_proxy 127.0.0.1:8088
}
